In [1]:
import pandas as pd
import sys
sys.path.append('.')  # Добавляем текущую директорию в путь поиска модулей
from utils import rec_system

# user_id=666
# user_type=1

test = rec_system(pd.DataFrame({'Type': [1]}))
test

utils.py загр

/Users/andrey_kiseleq/Documents/vs_code/itmo/rec_systems/.venv/lib/python3.9/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning:

divide by zero encountered in matmul

/Users/andrey_kiseleq/Documents/vs_code/itmo/rec_systems/.venv/lib/python3.9/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning:

overflow encountered in matmul

/Users/andrey_kiseleq/Documents/vs_code/itmo/rec_systems/.venv/lib/python3.9/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning:

invalid value encountered in matmul

     id    price  level  rooms   area  kitchen_area    geo_lat    geo_lon
0   615  6655460      8     -1  27.40           0.0  55.881954  37.501923
1  3623  6686836      7      1  25.09           0.0  55.792997  37.740690
2    66  6500000      8     -1  24.80           0.0  55.521764  37.354620
3   808  6923977     10     -1  27.50           0.0  55.707644  37.749274
4  3621  6558909      7      1  24.61           0.0  55.792997  37.740690
5   234  6500000     10     -1  27.00           0.0  55.967260  37.153689
6    19  6884515      6     -1  30.50           0.0  55.449414  36.999877
7  3622  6724534     12      1  24.61           0.0  55.792997  37.740690
8    57  6630000      3     -1  28.00           0.0  55.548706  37.311112
9  1208  6500000     10      1  23.60           0.0  55.623345  37.304879

In [ ]:
test = pd.DataFrame({'Type': [1]})

In [ ]:
test['Type'][0]

np.int64(1)

In [15]:
user_type = int(test['Type'][0])
user_type + 2

3

In [19]:
# Создадим структуру для хранения результатов тестов
stat_test_results = {}

# Выполнение t-теста для каждого пользователя
for user in final_recommendations.keys():
    interacted_obj_ids = user_actions[user_actions['user_id'] == user]['obj_id']
    recommended_obj_ids = final_recommendations[user]

    interacted_objects = homes_fixed.loc[homes_fixed.index.intersection(interacted_obj_ids)]
    recommended_objects = homes_fixed.loc[homes_fixed.index.intersection(recommended_obj_ids)]

    if not interacted_objects.empty and not recommended_objects.empty:
        # Средние значения по объектам
        interacted_mean = interacted_objects.mean(axis=0)
        recommended_mean = recommended_objects.mean(axis=0)

        # Проведение t-теста
        t_stat, p_val = ttest_ind(interacted_mean, recommended_mean, equal_var=False, nan_policy='omit')

        # Сохранение результатов
        stat_test_results[user] = {'t_stat': t_stat, 'p_val': p_val}

        # Вывод результатов для каждого пользователя
        print(f'User {user}: t_stat = {t_stat:.5f}, p_val = {p_val:.5f}')

# Преобразуем в DataFrame для удобного анализа
stat_test_results_df = pd.DataFrame.from_dict(stat_test_results, orient='index')

# Подсчет доли пользователей, у которых p_val > 0.05
no_significant_diff_ratio = (stat_test_results_df['p_val'] > 0.05).mean()
print(f'Доля пользователей, у которых нет статистически значимой разницы: {no_significant_diff_ratio:.2%}')

User 666: t_stat = -0.00778, p_val = 0.99390
Доля пользователей, у которых нет статистически значимой разницы: 100.00%

если p_val > 0.05, то нет оснований полагать, что есть стат. значимая разница => рекомендации были хорошими для всех юзеров